@charset "UTF-8";
:root {
  --site-width: 1280px;
}
@media (min-width: 1280px) {
  :root {
    --site-width: 1280px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  :root {
    --site-width: 768px;
  }
}
@media (max-width: 767px) {
  :root {
    --site-width: 320px;
  }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  font-weight: normal;
  letter-spacing: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  background-color: #292929;
  color: #4C4C4C;
}
@media (min-width: 1441px) {
  body main {
    flex-grow: 1;
  }
}

.container {
  width: var(--site-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 767px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.container.header {
  padding-top: 60px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .container.header {
    padding-top: 30px;
  }
}
@media (max-width: 767px) {
  .container.header {
    padding-top: 30px;
  }
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
}
.navigation .menu-button {
  display: none;
  width: 30px;
  height: 22px;
  transition: transform 0.3s;
  margin-right: 43px;
  align-self: center;
}
.navigation .menu-button:hover {
  cursor: pointer;
  transform: scale(1.05);
}
@media (max-width: 767px) {
  .navigation .menu-button {
    display: block;
  }
}
.navigation .nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 35px;
  list-style: none;
  margin: 0;
  padding-top: 16px;
}
.navigation .nav-list .nav-item {
  font-family: Arial, sans-serif;
  font-weight: normal;
  letter-spacing: 0;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  letter-spacing: 0.08px;
  transition: transform 0.3s;
}
.navigation .nav-list .nav-item:hover {
  cursor: pointer;
  color: #FAFAFA;
}
.navigation .nav-list .nav-item:active {
  transform: scale(1.3);
}
.navigation .nav-list .nav-item a {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
}
.navigation .nav-list .nav-item.active {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
}
@media (max-width: 767px) {
  .navigation .nav-list {
    display: none;
  }
}

a.no-style, a.logo-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

a.logo-link {
  transition: transform 0.3s;
}
a.logo-link:hover {
  transform: scale(1.1);
}
a.logo-link:active {
  transform: scale(1.3);
}
a.logo-link .logo {
  height: 100%;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
}
.logo h1 {
  font-family: Georgia, serif;
  font-weight: normal;
  color: #F1CDB3;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin: 0;
}
.logo p {
  font-family: Arial, sans-serif;
  font-weight: normal;
  letter-spacing: 0;
  color: #FFFFFF;
  font-size: 13px;
  line-height: 110%;
  letter-spacing: 0.1em;
  margin: 0;
  padding-left: 2px;
}

.background-color-light-xl {
  background-color: #FFFFFF;
}

.background-color-light-l {
  background-color: #F6F6F6;
}

.background-color-light-s {
  background-color: #FAFAFA;
}

.background-color-dark-s {
  background-color: #CDCDCD;
}

.background-color-dark-m {
  background-color: #B2B2B2;
}

.background-color-dark-l {
  background-color: #545454;
}

.background-color-dark-xl {
  background-color: #4C4C4C;
}

.background-color-dark-2xl {
  background-color: #444444;
}

.background-color-dark-3xl {
  background-color: #292929;
}

.background-color-primary {
  background-color: #F1CDB3;
}

.background-color-primary-light {
  background-color: #FDDCC4;
}

.button, .button-solid, .button.active, .active.button-solid {
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 17px;
  letter-spacing: 0.06em;
  line-height: 130%;
  color: #292929;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  padding: 13px 43px;
  background-color: transparent;
  transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
}
.button:hover:not([disabled]), .button-solid:hover:not([disabled]) {
  cursor: pointer;
  border-color: #FDDCC4;
  background-color: #FDDCC4;
}
.button:active:not([disabled]), .button-solid:active:not([disabled]) {
  transform: scale(1.3);
}
.button[disabled], [disabled].button-solid {
  border-color: #CDCDCD;
  color: #CDCDCD;
}

.button-solid, .button.active, .active.button-solid {
  background-color: #F1CDB3;
}
.button-solid:hover, .button.active:hover {
  background-color: #FDDCC4;
}

.button.circle,
.button-solid.circle {
  padding: 0;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #FAFAFA;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  padding-bottom: 30px;
  transition: background-color 0.3s;
}
.card h5 {
  font-family: Georgia, serif;
  font-weight: normal;
  margin: 0;
  font-size: 20px;
  letter-spacing: 0.06em;
  line-height: 115%;
  color: #545454;
}
.card:hover {
  background-color: #FFFFFF;
  cursor: pointer;
}
.card:hover .button, .card:hover .button-solid {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

:root {
  --site-width: 1280px;
}
@media (min-width: 1280px) {
  :root {
    --site-width: 1280px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  :root {
    --site-width: 768px;
  }
}
@media (max-width: 767px) {
  :root {
    --site-width: 320px;
  }
}

.noscroll {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #29292999;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.overlay:hover {
  cursor: pointer;
}
.overlay .modal {
  background-color: #FAFAFA;
  position: relative;
  width: 900px;
  height: 500px;
  border-radius: 9px;
  display: flex;
  flex-direction: row;
  gap: 29px;
  cursor: default;
}
.overlay .modal .modal-button {
  position: absolute;
  top: -50px;
  right: -50px;
}
.overlay .modal .img-block {
  width: 500px;
  height: 500px;
}
.overlay .modal .info-block {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 50px;
  padding-right: 20px;
}
.overlay .modal .info-block .headers {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.overlay .modal .info-block .headers h3 {
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  margin: 0;
}
.overlay .modal .info-block .headers h4 {
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin: 0;
}
.overlay .modal .info-block ul {
  list-style: none;
}
.overlay .modal .info-block li {
  margin-top: 5px;
}
.overlay .modal .info-block li::before {
  content: "•";
  color: #F1CDB3;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.overlay .modal .info-block p {
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.container.header {
  padding-top: 30px;
  padding-bottom: 30px;
}
.container.header .nav-item {
  color: #545454;
}
.container.header .nav-item:hover {
  color: #292929;
}
.container.header .nav-item.active {
  color: #292929;
}

.logo h1 {
  color: #545454;
}
.logo p {
  color: #292929;
}

#pets.container {
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 45px;
}
#pets.container h3 {
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0;
  text-align: center;
}
#pets.container .card-container {
  padding: 15px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px 40px;
}
#pets.container .button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#pets.container .button-container .button, #pets.container .button-container .button-solid {
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: 0.06em;
}
@media (min-width: 768px) and (max-width: 1279px) {
  #pets.container {
    gap: 30px;
    padding-bottom: 76px;
  }
  #pets.container .card-container {
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  #pets.container .card-container .card:nth-child(n+7) {
    display: none;
  }
  #pets.container .button-container {
    padding-top: 10px;
  }
}
@media (max-width: 767px) {
  #pets.container {
    gap: 42px;
    padding-top: 42px;
    padding-bottom: 42px;
  }
  #pets.container h3 {
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    font-size: 25px;
  }
  #pets.container .card-container {
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  #pets.container .card-container .card:nth-child(n+4) {
    display: none;
  }
  #pets.container .button-container {
    gap: 10px;
  }
}

.custom-icons {
  --path: url("../assets/images/icons/icon-Arrow.svg");
  vertical-align: bottom;
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: #292929;
  transition: filter 0.3s, transform 0.3s;
  -webkit-mask: var(--path) 50% 50%/contain no-repeat;
  mask: var(--path) 50% 50%/contain no-repeat;
}
.custom-icons.Arrow {
  --path: url("../assets/images/icons/icon-Arrow.svg") ;
}
.custom-icons.bowls-and-cups {
  --path: url("../assets/images/icons/icon-bowls-and-cups.svg") ;
}
.custom-icons.collars-leashes {
  --path: url("../assets/images/icons/icon-collars-leashes.svg") ;
}
.custom-icons.medicines {
  --path: url("../assets/images/icons/icon-medicines.svg") ;
}
.custom-icons.pet-food {
  --path: url("../assets/images/icons/icon-pet-food.svg") ;
}
.custom-icons.shampoos {
  --path: url("../assets/images/icons/icon-shampoos.svg") ;
}
.custom-icons.sleeping-area {
  --path: url("../assets/images/icons/icon-sleeping-area.svg") ;
}
.custom-icons.toys {
  --path: url("../assets/images/icons/icon-toys.svg") ;
}
.custom-icons.transportation {
  --path: url("../assets/images/icons/icon-transportation.svg") ;
}
.custom-icons.vitamins {
  --path: url("../assets/images/icons/icon-vitamins.svg") ;
}
.custom-icons.credit-card {
  --path: url("../assets/images/icons/icon-credit-card.svg") ;
}
.custom-icons.email {
  --path: url("../assets/images/icons/icon-email.svg") ;
}
.custom-icons.marker {
  --path: url("../assets/images/icons/icon-marker.svg") ;
}
.custom-icons.phone {
  --path: url("../assets/images/icons/icon-phone.svg") ;
}
.custom-icons.burger {
  --path: url("../assets/images/icons/icon-burger.svg") ;
}
.custom-icons.color-light-xl {
  background-color: #FFFFFF;
}
.custom-icons.color-light-l {
  background-color: #F6F6F6;
}
.custom-icons.color-light-s {
  background-color: #FAFAFA;
}
.custom-icons.color-dark-s {
  background-color: #CDCDCD;
}
.custom-icons.color-dark-m {
  background-color: #B2B2B2;
}
.custom-icons.color-dark-l {
  background-color: #545454;
}
.custom-icons.color-dark-xl {
  background-color: #4C4C4C;
}
.custom-icons.color-dark-2xl {
  background-color: #444444;
}
.custom-icons.color-dark-3xl {
  background-color: #292929;
}
.custom-icons.color-primary {
  background-color: #F1CDB3;
}
.custom-icons.color-primary-light {
  background-color: #FDDCC4;
}
.custom-icons.size-10 {
  width: 10px;
  height: 10px;
}
.custom-icons.size-11 {
  width: 11px;
  height: 11px;
}
.custom-icons.size-12 {
  width: 12px;
  height: 12px;
}
.custom-icons.size-13 {
  width: 13px;
  height: 13px;
}
.custom-icons.size-14 {
  width: 14px;
  height: 14px;
}
.custom-icons.size-15 {
  width: 15px;
  height: 15px;
}
.custom-icons.size-16 {
  width: 16px;
  height: 16px;
}
.custom-icons.size-17 {
  width: 17px;
  height: 17px;
}
.custom-icons.size-18 {
  width: 18px;
  height: 18px;
}
.custom-icons.size-19 {
  width: 19px;
  height: 19px;
}
.custom-icons.size-20 {
  width: 20px;
  height: 20px;
}
.custom-icons.size-21 {
  width: 21px;
  height: 21px;
}
.custom-icons.size-22 {
  width: 22px;
  height: 22px;
}
.custom-icons.size-23 {
  width: 23px;
  height: 23px;
}
.custom-icons.size-24 {
  width: 24px;
  height: 24px;
}
.custom-icons.size-25 {
  width: 25px;
  height: 25px;
}
.custom-icons.size-26 {
  width: 26px;
  height: 26px;
}
.custom-icons.size-27 {
  width: 27px;
  height: 27px;
}
.custom-icons.size-28 {
  width: 28px;
  height: 28px;
}
.custom-icons.size-29 {
  width: 29px;
  height: 29px;
}
.custom-icons.size-30 {
  width: 30px;
  height: 30px;
}
.custom-icons.size-31 {
  width: 31px;
  height: 31px;
}
.custom-icons.size-32 {
  width: 32px;
  height: 32px;
}
.custom-icons.size-33 {
  width: 33px;
  height: 33px;
}
.custom-icons.size-34 {
  width: 34px;
  height: 34px;
}
.custom-icons.size-35 {
  width: 35px;
  height: 35px;
}
.custom-icons.size-36 {
  width: 36px;
  height: 36px;
}
.custom-icons.size-37 {
  width: 37px;
  height: 37px;
}
.custom-icons.size-38 {
  width: 38px;
  height: 38px;
}
.custom-icons.size-39 {
  width: 39px;
  height: 39px;
}
.custom-icons.size-40 {
  width: 40px;
  height: 40px;
}
.custom-icons.size-41 {
  width: 41px;
  height: 41px;
}
.custom-icons.size-42 {
  width: 42px;
  height: 42px;
}
.custom-icons.size-43 {
  width: 43px;
  height: 43px;
}
.custom-icons.size-44 {
  width: 44px;
  height: 44px;
}
.custom-icons.size-45 {
  width: 45px;
  height: 45px;
}
.custom-icons.size-46 {
  width: 46px;
  height: 46px;
}
.custom-icons.size-47 {
  width: 47px;
  height: 47px;
}
.custom-icons.size-48 {
  width: 48px;
  height: 48px;
}
.custom-icons.size-49 {
  width: 49px;
  height: 49px;
}
.custom-icons.size-50 {
  width: 50px;
  height: 50px;
}
.custom-icons.size-51 {
  width: 51px;
  height: 51px;
}
.custom-icons.size-52 {
  width: 52px;
  height: 52px;
}
.custom-icons.size-53 {
  width: 53px;
  height: 53px;
}
.custom-icons.size-54 {
  width: 54px;
  height: 54px;
}
.custom-icons.size-55 {
  width: 55px;
  height: 55px;
}
.custom-icons.size-56 {
  width: 56px;
  height: 56px;
}
.custom-icons.size-57 {
  width: 57px;
  height: 57px;
}
.custom-icons.size-58 {
  width: 58px;
  height: 58px;
}
.custom-icons.size-59 {
  width: 59px;
  height: 59px;
}
.custom-icons.size-60 {
  width: 60px;
  height: 60px;
}
.custom-icons.mirrored {
  transform: scaleX(-1);
}

:root {
  --site-width: 1280px;
}
@media (min-width: 1280px) {
  :root {
    --site-width: 1280px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  :root {
    --site-width: 768px;
  }
}
@media (max-width: 767px) {
  :root {
    --site-width: 320px;
  }
}

.gradient-background-footer {
  background: url("../assets/images/noise_transparent.png"), radial-gradient(ellipse 80% 50% at 50px 50%, #513D2F, #1A1A1C);
}

footer .container {
  padding: 40px 40px 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 160px;
}
footer .container .info-block {
  padding-top: 16px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
footer .container .info-block.left {
  width: 278px;
  flex-shrink: 0;
  gap: 40px;
}
footer .container .info-block.right {
  gap: 33px;
}
footer .container .info-block a {
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: #F1CDB3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  transition: color 0.3s, transform 0.3s;
}
footer .container .info-block a:hover {
  cursor: pointer;
  color: #FDDCC4;
}
footer .container .info-block a:active {
  transform: scale(1.3);
}
footer .container .info-block a .custom-icons.wide {
  width: 40px;
  height: 32px;
  flex-shrink: 0;
}
footer .container .info-block a .custom-icons.tall {
  width: 22px;
  height: 32px;
  flex-shrink: 0;
}
footer .container .info-block h3 {
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin: 0;
  letter-spacing: 0.059em;
}
@media (min-width: 768px) and (max-width: 1279px) {
  footer .container {
    padding: 30px 64px 0 64px;
    display: grid;
    grid-template-columns: 278px 302px;
    grid-template-rows: 234px 1fr;
    gap: 65px 60px;
  }
  footer .container .info-block {
    padding: 0;
    justify-content: flex-start;
  }
  footer .container .img-block {
    display: block;
    grid-column: 1/span 2;
    width: 300px;
    height: 310px;
    justify-self: center;
  }
}
@media (max-width: 767px) {
  footer .container {
    padding: 30px 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  footer .container .info-block {
    padding: 0;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
  }
  footer .container .info-block.right {
    gap: 40px;
  }
  footer .container .info-block.right a {
    align-self: flex-start;
  }
  footer .container .info-block h3 {
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    font-size: 25px;
    text-align: center;
    width: 250px;
  }
  footer .container .img-block {
    display: block;
    width: 260px;
    height: 269px;
  }
}

/*# sourceMappingURL=pets.css.map */
