$default-site-width: 1280px;
$breakpoints: (
        "large": (
                'size': 1280px,
                'query': "(min-width: 1280px)"
        ),
        "medium": (
                'size': 768px,
                'query': "(min-width: 768px) and (max-width: 1279px)"
        ),
        "small": (
                'size': 320px,
                'query': "(max-width: 767px)"
        )
);

:root {
  --site-width: #{$default-site-width};
  @each $size, $boundaries in $breakpoints {
    @media #{map-get($boundaries, query)} {
      --site-width: #{map-get($boundaries, size)};
    }
  }
}