@import 'colors';
@import 'typography';

.card {
  background-color: $color-light-s;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  padding-bottom: 30px;
  transition: background-color 0.3s;

  h5 {
    @include any-header();
    margin: 0;
    font-size: 20px;
    letter-spacing: 0.06em;
    line-height: 115%;
    color: $color-dark-l;
  }

  &:hover {
    background-color: $color-light-xl;
    cursor: pointer;

    .button {
      background-color: $color-primary-light;
      border-color: $color-primary-light;
    }
  }
}