@import 'colors';
@import 'typography';
@import 'icons';

.gradient-background-footer {
  $color1: #513D2F;
  $color2: #1A1A1C;

  background: url("../assets/images/noise_transparent.png"),
  radial-gradient(ellipse 80% 50% at 50px 50%, $color1, $color2);
}

footer .container {
  padding: 40px 40px 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 160px;

  .info-block {
    padding-top: 16px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;


    &.left {
      width: 278px;
      flex-shrink: 0;
      gap: 40px;
    }

    &.right {
      gap: 33px;
    }

    a {
      @include contact();
      text-decoration: none;
      color: $color-primary;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      transition: color 0.3s, transform 0.3s;

      &:hover {
        cursor: pointer;
        color: $color-primary-light;
      }

      &:active {
        transform: scale(1.3);
      }

      .custom-icons.wide {
        width: 40px;
        height: 32px;
        flex-shrink: 0;
      }

      .custom-icons.tall {
        width: 22px;
        height: 32px;
        flex-shrink: 0;
      }
    }

    h3 {
      @include h3();
      color: $color-light-xl;
      margin: 0;
      // Fix for designers' fails
      letter-spacing: 0.059em;

    }
  }
}