@import 'colors';
@import 'typography';
@import 'breakpoints';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  @include any-text();
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  background-color: $color-dark-3xl;
  color: $color-dark-xl;

  // Fix cases with footer being not in the end on large screens
  @media (min-width: 1441px) {
    & main{
      flex-grow: 1;
    }
  }
}

.container {
  width: var(--site-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;

  @media #{map-get(map-get($breakpoints, medium), query)} {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media #{map-get(map-get($breakpoints, small), query)} {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.container.header {
  padding-top: 60px;


  @media #{map-get(map-get($breakpoints, medium), query)} {
    padding-top: 30px;
  }
  @media #{map-get(map-get($breakpoints, small), query)} {
    padding-top: 30px;
  }
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;

  .menu-button {
    display: none;
    width: 30px;
    height: 22px;
    transition: transform 0.3s;
    margin-right: 53px - 10px;
    align-self: center;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }

    @media #{map-get(map-get($breakpoints, small), query)} {
      display: block;
    }
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 35px;
    list-style: none;
    margin: 0;
    padding-top: 16px;

    .nav-item {
      @include paragraph-l();
      color: $color-dark-s;
      letter-spacing: 0.08px;
      transition: transform 0.3s;

      &:hover {
        cursor: pointer;
        color: $color-light-s;
      }

      &:active {
        transform: scale(1.3);
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
        color: inherit;
        text-decoration: none;
        transition: color 0.3s;
      }
    }

    .nav-item.active {
      color: $color-light-s;
      border-bottom: 3px solid $color-primary;
    }

    @media #{map-get(map-get($breakpoints, small), query)} {
      display: none;
    }

  }
}

a.no-style {
  display: block;
  text-decoration: none;
  color: inherit;
}

a.logo-link {
  @extend a, .no-style;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1.3);
  }

  .logo {
    height: 100%;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;

  h1 {
    @include logo-title();
    margin: 0;
  }

  p {
    @include logo-subtitle();
    margin: 0;
    padding-left: 2px;
  }
}

@each $colorname, $color in $colors {
  .background-#{$colorname} {
    background-color: $color;
  }
}

.button {
  @include button-text();
  border-radius: 100px;
  border: 2px solid $color-primary;
  padding: 13px 43px;
  background-color: transparent;
  transition: background-color 0.3s, border-color 0.3s, transform 0.3s;

  &:hover:not([disabled]) {
    cursor: pointer;
    border-color: $color-primary-light;
    background-color: $color-primary-light;
  }

  &:active:not([disabled]) {
    transform: scale(1.3);
  }

  &[disabled] {
    border-color: $color-dark-s;
    color: $color-dark-s;
  }
}

.button-solid {
  @extend .button;
  background-color: $color-primary;

  &:hover {
    background-color: $color-primary-light;
  }
}

.button.active {
  @extend .button-solid;
}

.button.circle,
.button-solid.circle{
  padding: 0;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}
