
@import 'colors';
@import 'typography';
@import 'icons';
@import 'shared';
@import 'card';
@import "popup";

:root {
  --gradient-size: 908px;
  --gradient-offset: -120px;
  @media #{map-get(map-get($breakpoints, medium), query)} {
    --gradient-size: 1165px;
    --gradient-offset: -90px;
  }
  @media #{map-get(map-get($breakpoints, small), query)} {
    --gradient-size: 823px;
    --gradient-offset: -90px;
  }
}

.gradient-background-header {
  $color1: #211F20;
  $color2: #5B483A;
  $color3: #262425;

  background: url("../assets/images/noise_transparent.png"),
  left top / 100% var(--gradient-size) radial-gradient(ellipse 50% 50% at 0 0, $color2, $color3);


}

.gradient-background-hero {
  $color1: #211F20;
  $color2: #5B483A;
  $color3: #262425;

  background: url("../assets/images/noise_transparent.png"),
  left var(--gradient-offset) / 100% var(--gradient-size) radial-gradient(ellipse 50% 50% at 0 0, $color2, $color3);
}

.container.hero {
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 42px;

  .info-block {
    padding-top: 163px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 42px;
    h2 {
      @include h2();
      color: $color-light-xl;
      margin: 0;
      width: 310px;
    }
    p {
      @include paragraph-l();
      margin: 0;
      color: $color-dark-s;
    }
  }

  @media #{map-get(map-get($breakpoints, medium), query)} {
    flex-direction: column;
    align-items: center;
    gap: 100px;

    .info-block {
      padding-top: 0;
      width: 460px;

      a {
        align-self: center;
      }
    }

    .img-block {
      align-self: flex-end;
      width: 569px;
      height: 593px;
    }
  }
  @media #{map-get(map-get($breakpoints, small), query)} {
    flex-direction: column;
    align-items: center;
    gap: 100px;

    .info-block {
      padding-top: 0;
      width: 300px;
      align-items: center;

      h2 {
        @include h3-mobile();
        color: $color-light-xl;
        text-align: center;
        width: 250px;
      }

      p {
        text-align: center;
      }
    }

    .img-block {
      align-self: flex-end;
      margin-top: 5px;
      width: 260px;
      height: 271.77px;
    }
  }
}

#about.container {
  padding-top: 80px;
  padding-bottom: 100px;
  padding-left: calc(40px + 175px);
  padding-right: calc(40px + 175px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 120px;
  background-color: $color-light-xl;

  .info-block {
    h3 {
      max-width: 370px;
      margin: 0;
      @include h3();
    }
    p {
      @include paragraph-l();
      margin: 0;
      padding-top: 25px;
    }
  }

  @media #{map-get(map-get($breakpoints, medium), query)} {
    flex-direction: column-reverse;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    gap: 80px;

    .info-block {
      width: 430px;
    }
  }

  @media #{map-get(map-get($breakpoints, small), query)} {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 42px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 42.4px;
    gap: 42px;

    .info-block {
      width: 300px;
      align-items: center;

      h3 {
        @include h3-mobile();
        margin: 0 auto;
        width: 250px;
        text-align: center;
      }

      p {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 22px;
        text-align: justify;
      }
    }

    .img-block {
      width: 260px;
      height: 353.6px;
    }
  }
}

#pets.container {
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  background-color: $color-light-l;
  align-items: center;

  h3 {
    @include h3();
    max-width: 400px;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: 53px;

    .card-container {
      // Вынести типичные флексы в виде миксинов
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 90px;
      width: 1000px;
      overflow: hidden;

      .card.pushed-left {
        --push-amount: 0;
        transform: translateX(calc(0px - var(--push-amount)));
      }
    }
  }

  @media #{map-get(map-get($breakpoints, medium), query)} {

    .inner-container {
      gap: 12px;

      .card-container {
        gap: 40px;
        width: 580px;
      }
    }
  }
  @media #{map-get(map-get($breakpoints, small), query)} {
    padding-top: 42px;
    padding-bottom: 42px;
    gap: 42px;

    h3 {
      @include h3-mobile();
    }

    .inner-container {
      gap: 20px;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .card-container {
        gap: 40px;
        width: 270px;
        order: -1;
      }
    }
  }
}

#help.container {
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  background-color: $color-light-xl;

  h3 {
    @include h3();
    max-width: 310px;
    text-align: center;
    margin: 0;
    margin-left: 1px;
    //letter-spacing: 0.056em;
    color: $color-dark-l;
  }

  .inner-container {
    padding-left: 87px;
    padding-right: 87px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 55px 119px;

    .info-block {
      display: flex;
      flex-direction: column;
      gap: 30px;
      justify-content: flex-start;
      align-items: center;

      h4 {
        @include h4();
        margin: 0;
        color: $color-dark-l;
      }

    }
  }
  @media #{map-get(map-get($breakpoints, medium), query)} {
    padding-left: 0;
    padding-right: 0;
    // Fix offset generated by unexact numbers in previous sections
    padding-top: 78px;

    .inner-container {
      width: 630px;
      height: 449px;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 55px 60px;
    }
  }
  @media #{map-get(map-get($breakpoints, small), query)} {
    padding-top: 42px;
    padding-bottom: 42px;
    gap: 42px;

    h3 {
      @include h3-mobile();
      width: 250px;
    }

    .inner-container {
      width: 100%;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      //grid-template-rows: repeat(10, 1fr);
      gap: 30px;

      .info-block {
        gap: 20px;

        h4 {
          @include h5();
        }
      }
      span.size-60 {
        width: 50px;
        height: 50px;
      }
    }
  }
}

.card-number {
  display: inline-block;
  @include h4();
  color: $color-dark-l;
  background-color: $color-primary;
  border-radius: 9px;
  padding: 10px 15px;
  text-decoration: none;
  width: 350px;
  transition: background-color 0.3s, transform 0.3s;

  &:hover {
    background-color: $color-primary-light;
  }

  &:active {
    transform: scale(1.3);
  }

  .custom-icons.size-30 {
    width: 30px;
    height: 23px;
  }

  .digits {
    margin-left: 8.5px;
  }

  @media #{map-get(map-get($breakpoints, small), query)} {
    @include h5();
    width: 281px;
  }
}

#donation.container {
  padding-top: 80px;
  padding-bottom: 100px;
  padding-left: 183px;
  padding-right: 182px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: $color-light-l;

  h3 {
    @include h3();
    max-width: 300px;
    margin: 0;
    color: $color-dark-l;
  }

  .info-block {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h5 {
      @include h5();
      margin: 0;
      color: $color-dark-l;
    }

    .legal {
      @include p-legal();
      margin: 0;
      color: $color-dark-m;
    }
  }

  @media #{map-get(map-get($breakpoints, medium), query)} {
    padding-left: 0;
    padding-right: 0;
    flex-direction: column-reverse;
    gap: 60px;

    .info-block {
      width: 380px;
      height: 282px;

    }
  }
  @media #{map-get(map-get($breakpoints, small), query)} {
    padding: 42px 10px;
    flex-direction: column-reverse;
    gap: 42px;

    .info-block {
      width: 300px;
      align-items: center;

      h3 {
        @include h3-mobile();
        text-align: center;
        width: 220px;
        margin: 0 auto;
      }

      h5 {
        line-height: 160%;
        letter-spacing: 0;
        text-align: center;
      }

      .legal {
        text-align: justify;
        padding: 0 10px;
      }
    }
    .img-block {
      width: 260px;
      height: 135.2px;
    }
  }
}

@import 'footer';